beautifulsoup4
dingtalk_stream
edge-tts
flask
homeassistant_api
lark_oapi
nvidia-ml-py
openai
opencv-python
pillow
ping3
psutil
pyaudio
pygame
qq-botpy
qrcode
sherpa_onnx
soundfile

#sudo apt install cmake libasound-dev portaudio19-dev libportaudio2 libportaudiocpp0